.cardContainer {
    width: fit-content;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;


  }
  
 .card {
    position: relative;
    flex-direction: column;
    width: 220px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.308);
    border: 1px solid rgba(255, 255, 255, 0.089);
    padding: 20px 10px;
    border-radius: 10px;
    cursor: pointer;
  }